* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: arial;
  color: black;
  height: 100%;
  width: 100%;
  background-color: #6666ff;
}
.top {
  height: 10%;
}
.nav {
  height: 100%;
}
.nav ul {
  list-style-type: none;
  background: linear-gradient(#9999ff, white);
  padding: 5px;
  height: 100%;
  z-index: -5;
}

.nav li {
  font-size: 21px;
  text-align: center;
/*  border: 4px solid black; */
  border-radius:20px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;;
  margin-top: 4px;
  box-shadow: 3px 3px 1.5px #888888;
}
#li1 {
  font-style: italic;
  padding: 8px;
  background: linear-gradient(45deg, #b3b3ff, #ccccff);
}
#li2 {
  font-style: italic;
  padding: 8px;
  background: linear-gradient(35deg, #b3b3ff, #ccccff);
}
#li3 {
  font-style: italic;
  padding: 8px;
  background: linear-gradient(45deg, #b3b3ff, #ccccff);

  white-space: nowrap;
}
#li3 input {
  border: 2px solid black;
  font-size: 20px;
  width: 210px;
}
#li4 {
  font-style: italic;
  padding: 8px;
  float: right;
  background: linear-gradient(45deg, #b3b3ff, #ccccff);
}

.mid {
  position: absolute;
  height: 88%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(white, #9999ff);

}

#slider {
  color: black;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#slider .controll {
  font-style: italic;
  position: absolute;
  top: 0;
  width: 40px;
  height: 90%;
  background-color: #e6f2ff;
  border: 1px solid black;
  border-radius:20px;
  margin-top: 2%;
  box-shadow: 2px 2px 1px #888888;
}
#slider #slides {
  transition: all 0.7s ease;
}
#slider img {
  float: left;
  width: 800px;
  height: 530px;
}
#slider #next {
  right: 0;
  margin-right: 2%;
  transition: all 3s ease;
}
#slider #prev {
  left: 0;
  margin-left: 2%;
  transition: all 3s ease;
}
#prev:hover {
  background: linear-gradient(90deg, #b3b3ff, #ccccff);
}
#next:hover {
  background: linear-gradient(90deg, #b3b3ff, #ccccff);
}
.left {
  position: absolute;
  transform: rotate(-90deg);
  text-shadow: -1px 0.5px #cce5ff;
  letter-spacing: 3px;
  text-decoration: overline;
  font-size:20px;
  text-align: center;
  top: 50%;
  left: -100%;
}
.right {
  position: absolute;
  transform: rotate(90deg);
  text-shadow: -1px 0.5px #cce5ff;
  letter-spacing: 3px;
  text-decoration: overline;
  font-size:20px;
  text-align: center;
  top: 50%;
  left: -70%;
}
#slider .obrazek {
  width: 1100px;
  height: 530px;
  margin: 0 auto;
  margin-top: 1.5%;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 10px;
}
#slider .dane {
  float: left;
  background-color: #b8b894;
  width: 300px;
  height: 530px;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: block;
  overflow: hidden;
  font-size: 8px;
  color: black;
}
.podpis {
  width: 100%;
  padding-top: 30%;
  font-size: 25px;
  font-style: italic;
  border-bottom: 3px solid black;
  border-radius: 10px;
  max-height: 10%;
}
.data {
  width: 100%;
  padding-top: 20%;
  font-size: 20px;
  font-style:italic;
  border-bottom: 3px solid black;
  border-radius: 25px;
  max-height: 5%;
}
.ocena {
  width: 100%;
  padding-top: 80%;
  font-size: 20px;
  font-style:italic;
  border-bottom: 3px solid black;
  border-radius: 45px;
  max-height: 10%;
}
a {
  color: black;
}
/*podpis
data
ocena*/
