* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: arial;
  color: black;
  height: 100%;
  width: 100%;
  background-color: #001a00;
}
.top {
  height: 11%;
}
.nav {
  height: 100%;
}
.nav ul {
  list-style-type: none;
  background: linear-gradient(#004d00, #008000);
  padding: 5px;
  height: 100%;
  z-index: -5;
}

.nav li {
  font-size: 30px;
  text-align: center;
  border: 4px solid black;
  border-radius:20px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;;
}
#li1 {
  font-style: italic;
  padding: 8px;
  background: linear-gradient(45deg, #336600, #66cc00);
}
#li2 {
  font-style: italic;
  padding: 8px;
  background: linear-gradient(35deg, #336600, #66cc00);
}
#li3 {
  font-style: italic;
  padding: 8px;
  background: linear-gradient(45deg, #336600, #66cc00);

  white-space: nowrap;
}
#li3 input {
  border: 2px solid black;
  font-size: 25px;
  width: 210px;
}
#li4 {
  font-style: italic;
  padding: 8px;
  float: right;
  background: linear-gradient(45deg, #336600, #66cc00);
}

.mid {
  position: absolute;
  height: 86%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#008000, #003300);

}

#slider {
  color: black;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#slider .controll {
  font-style: italic;
  position: absolute;
  top: 0;
  width: 40px;
  height: 90%;
  background-color: #009900;
  border: 4px solid black;
  border-radius:20px;
  margin-top: 2%;
}
#slider #slides {
  transition: all 0.7s ease;
}
#slider img {
  float: left;
  width: 800px;
  height: 530px;
}
#slider #next {
  right: 0;
  margin-right: 2%;
  transition: background 3s;
}
#slider #prev {
  left: 0;
  margin-left: 2%;
  transition: background 3s;
}
#prev:hover {
  background: linear-gradient(90deg, #009900, #194d19);
}
#next:hover {
  background: linear-gradient(90deg, #194d19, #009900);
}
.left {
  position: absolute;
  transform: rotate(-90deg);
  text-shadow: 2px 1px #006600;
  letter-spacing: 3px;
  text-decoration: overline;
  font-size:20px;
  text-align: center;
  top: 50%;
  left: -100%;
}
.right {
  position: absolute;
  transform: rotate(90deg);
  text-shadow: 2px 1px #006600;
  letter-spacing: 3px;
  text-decoration: overline;
  font-size:20px;
  text-align: center;
  top: 50%;
  left: -70%;
}
#slider .obrazek {
  width: 1100px;
  height: 530px;
  margin: 0 auto;
  margin-top: 1.5%;
  overflow: hidden;
  border: 5px solid black;
  border-radius: 10px;
}
#slider .dane {
  float: left;
  background-color: #b8b894;
  width: 300px;
  height: 530px;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: block;
  overflow: hidden;
  font-size: 12px;
  color: #5c5c3d;
}
/*podpis
data
ocena*/
